.about-us{
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    margin: 50px 20px;
    align-items: center;
    margin-top: 100px;
   
    
    .about-us-img {
        text-align: center;
      
        align-items: center;
      
    }
    img{
        border-radius: 10px;
        width: 250px;
        
    }
    .about-us-text{
        padding: 20px 50px;
        h5{
            margin-bottom: 10px;
            font-size: 15px;
            letter-spacing: 5px;
            color: var(--main-color);
            margin-top: 40px;
        }
        h3{
            font-size: 45px;
            font-weight: 900;
            padding: 10px ;
            padding-left: 0;
        }
        p{
            margin: 20px 0;
            font-size: 12px;
            line-height: 25px;
            font-weight:bold;
        }
        .about-us-btn{
            padding: 10px 20px;
            font-size: 12px;
            font-weight: bold;
            border-radius: 5px;
            border: none;
            background-color: var(--main-color);
            margin: 20px 0;
            &:hover{
                transition: .5s;
                transform: translateX(3px);
                cursor: pointer;
                background-color: transparent;
                color: white;
                border: 1px solid white;
            }
        }

    }
    
}