
.home{
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(/images/group.jpg);
    background-position: center;
    background-size: cover;
    .home-text{
        width: 900px;
        height: 500px;
        position: absolute;
        align-items: center;
        top: 200px;
        left: 200px;
        h5{
            margin-bottom: 20px;
            color: var(--main-color);
            letter-spacing: 5px;
            font-size: 18px; 
        }
        h1{
            font-size: 70px;
            margin-bottom: 20px;
            font-weight: 1000;
        }
        p{
            margin-bottom: 40px;
        }
        .home-btn{
            border: 1px solid transparent;
            padding: 10px 20px;
            background-color: var(--main-color);
            border: none;
            border-radius: 5px;
            color: black;
            font-weight: bold;
            font-size: 12px;

            &:hover{
                cursor: pointer;
                background-color: transparent;
                color: white;
                transform: scaleX(10px);
                transition: .3s;
                border: 1px solid white;
            }
        }
    }
}
