.contact{
    margin: 20px;
   
    .contact-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        img{
            max-width: 100%;
            height: auto;
            
        }
        .contact-form {
            
            display: flex;
           flex-direction: column;
           width: 90%;
            margin: 20px 0;
            align-items: center;
            label{
                width: 100%;
                text-align: center;
                margin-bottom: 10px;
            }
            input{
                width: 100%;
                padding: 5px 0;
                border: none;
                border-radius: 5px;
                margin-bottom: 15px;
                &:hover{
                    transform: scale(1.02);
                    cursor: pointer;
                    transition: .5s;
                }
            }
            button{
                width: 100%;
                padding: 10px 0;
                margin-top: 10px;
                border: none;
                border-radius: 5px;
                background-color: var(--main-color);
                font-weight: bold;
                &:hover{
                    transition: .5s;
                    cursor: pointer;
                    background-color: transparent;
                    border: 1px solid white;
                    transform: translateX(3px);
                    color: white;
                }
            }
        }

    }
}
//* responsive //
@media (min-width:768px){
    .contact-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        .contact-form{
            width: 45%;
        } 
         
        img{
            max-width: 50%;
            height: auto;
            
        }

    }
}