.educations{
    padding: 10px;
    margin: 10px auto;
    margin-top:100px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, auto));
   
    .edu-box{
      
        width: 100%;
        overflow: hidden;
        align-items: center;
        text-align: center;
        padding: 20px;
        h4{
            cursor: pointer;
            &:hover{
                color: var(--main-color);
                transition: .3s;
            }
        }
    }
    .edu-box-img{
     
        img{
            width: 200px;
            margin: 10px;
            border-radius: 50%;
            &:hover{
                transform: scale(1.1);
                cursor: pointer;
                transition: 0.5s;
            }
        }
    }
   

}
    
